In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('관악구_단란주점.xlsx')
data['영업상태명'].unique()

array(['영업/정상'], dtype=object)

In [8]:
data = pd.read_excel('관악구_게임제공업.xlsx')
data['영업상태명'].unique()

array(['영업/정상'], dtype=object)

In [9]:
data.head()

,개방자치단체코드,인허가일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,좌표정보(X),좌표정보(Y)
0,3200000,19991104,영업/정상,13,영업중,NaN,151899.0,서울특별시 관악구 신림동 1568-1번지,서울특별시 관악구 난곡로 302 (신림동),NaN,워너스PC방,192403.860741,442095.332266
1,3200000,19991117,영업/정상,13,영업중,NaN,151834.0,서울특별시 관악구 봉천동 851-6번지,서울특별시 관악구 관악로 200 (봉천동),NaN,클릭게임방,195875.593214,442273.143696
2,3200000,20001011,영업/정상,13,영업중,NaN,151896.0,서울특별시 관악구 신림동 1551-13번지,서울특별시 관악구 신림로17길 86 (신림동),NaN,파라다이스,194295.822199,440534.156486
3,3200000,20001013,영업/정상,13,영업중,NaN,151873.0,서울특별시 관악구 신림동 515-13번지,서울특별시 관악구 난곡로72길 15 (신림동),NaN,제너시스21,192384.527327,442599.897704
4,3200000,20010104,영업/정상,13,영업중,NaN,151846.0,서울특별시 관악구 봉천동 1566-8번지,서울특별시 관악구 쑥고개로 103 (봉천동),NaN,폭탄클릭PC방,195326.935558,441899.463461