In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('생활인구수정.csv',encoding='utf-8')

In [3]:
df.head()

,Unnamed: 0,기준일ID,자치구코드,총생활인구수,여자20세부터24세생활인구수,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,자치구
0,0,20230909,11110,208163.5582,12763.1522,9562.6298,7326.6062,8159.0514,종로구
1,1,20230909,11140,160973.4366,7670.8711,7879.6879,7275.3970,8522.7921,중구
2,2,20230909,11170,263537.9504,10684.7616,13316.2876,13422.2409,14422.6628,용산구
3,3,20230909,11200,318883.9082,14375.0557,14408.5021,13586.3255,17031.2336,성동구
4,4,20230909,11215,368723.2191,21399.8255,20789.4824,15937.0314,16358.5533,광진구

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212600 entries, 0 to 1212599
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1212600 non-null  int64
 1   기준일ID            1212600 non-null  int64
 2   자치구코드            1212600 non-null  int64
 3   총생활인구수           1212600 non-null  float64
 4   여자20세부터24세생활인구수  1212600 non-null  float64
 5   여자25세부터29세생활인구수  1212600 non-null  float64
 6   여자30세부터34세생활인구수  1212600 non-null  float64
 7   여자35세부터39세생활인구수  1212600 non-null  float64
 8   자치구              1212600 non-null  object
dtypes: float64(5), int64(3), object(1)
memory usage: 83.3+ MB