In [2]:
import pandas as pd

In [3]:
hmotel = pd.read_excel('숙박업소_현황.xlsx')
hmotel.head()

,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,0,3010000,3010000-214-2021-00001,영업/정상,영업,1350.84,서울특별시 중구 인현동1가 158,"서울특별시 중구 충무로 24, 3~17층 (인현동1가)",어반스테이 명동,숙박업(생활),199345.466097,451233.369781,서울특별시,중구,"충무로 24, 3~17층 (인현동1가)"
1,1,3010000,3010000-201-2019-00008,영업/정상,영업,610.66,서울특별시 중구 남산동2가 35-2,"서울특별시 중구 퇴계로18길 43, 지층, 1~2층 (남산동2가)",오요5(oYo5),관광호텔,198591.133748,450740.353160,서울특별시,중구,"퇴계로18길 43, 지층, 1~2층 (남산동2가)"
2,2,3010000,3010000-214-2023-00002,영업/정상,영업,2808.85,서울특별시 중구 남대문로3가 94,서울특별시 중구 남대문로 27 (남대문로3가),더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,서울특별시,중구,남대문로 27 (남대문로3가)
3,3,3010000,3010000-201-2017-00010,영업/정상,영업,178.54,서울특별시 중구 남산동2가 33-3 1~2층,"서울특별시 중구 퇴계로18길 41 (남산동2가, 1~2층)",오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,서울특별시,중구,"퇴계로18길 41 (남산동2가, 1~2층)"
4,4,3010000,3010000-201-2017-00011,영업/정상,영업,166.54,"서울특별시 중구 남산동2가 33 1,2층","서울특별시 중구 퇴계로18길 37 (남산동2가, 1,2층)",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,서울특별시,중구,"퇴계로18길 37 (남산동2가, 1,2층)"

In [4]:
len(hmotel.loc[hmotel['지번주소'].isnull(),:])

11

In [5]:
hmotel.loc[hmotel['지번주소'].isnull(),:]

,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
74,75,3180000,3180000-201-2016-00003,영업/정상,영업,511.89,NaN,서울특별시 영등포구 영중로4길 15-7 (영등포동3가),호텔 베이직,여관업,191791.888944,446178.911672,서울특별시,영등포구,영중로4길 15-7 (영등포동3가)
169,170,3180000,3180000-201-2015-00009,영업/정상,영업,947.43,NaN,서울특별시 영등포구 영신로34길 33 (영등포동4가),자딘관광호텔,관광호텔,191503.413709,446331.214545,서울특별시,영등포구,영신로34길 33 (영등포동4가)
229,232,3000000,3000000-201-2015-00001,폐업,폐업,357.55,NaN,"서울특별시 종로구 종로 294, 4층 (창신동)",HOTEL KOTA(호텔코타),일반호텔,200946.614457,452413.436876,서울특별시,종로구,"종로 294, 4층 (창신동)"
275,279,3000000,3000000-201-2014-00001,영업/정상,영업,"2,556.61",NaN,서울특별시 종로구 수표로18길 26 (관수동),(주)호텔리안,일반호텔,199132.024742,451873.150328,서울특별시,종로구,수표로18길 26 (관수동)
395,417,3160000,3160000-201-2014-00001,영업/정상,영업,99337912.00,NaN,"서울특별시 구로구 디지털로 300 (구로동, (주)호텔롯데 롯데시티호텔 구로)",롯데시티호텔 구로,관광호텔,190779.824681,442527.527967,서울특별시,구로구,"디지털로 300 (구로동, (주)호텔롯데 롯데시티호텔 구로)"
637,688,3000000,3000000-201-2014-00003,영업/정상,영업,"3,923.57",NaN,서울특별시 종로구 율곡로 179 (원남동),메이플레이스 호텔 서울 동대문,관광호텔,199888.153898,452950.283914,서울특별시,종로구,율곡로 179 (원남동)
647,698,3000000,3000000-201-2001-00378,영업/정상,영업,1468.00,NaN,서울특별시 종로구 율곡로6길 19 (운니동),호텔아비숑,여관업,199011.636568,452680.721848,서울특별시,종로구,율곡로6길 19 (운니동)
830,910,3000000,3000000-214-2014-00001,폐업,폐업,122.12,NaN,서울특별시 종로구 창경궁로16가길 30 (연지동),까사라움(CASA라움),숙박업(생활),199920.765067,452672.116766,서울특별시,종로구,창경궁로16가길 30 (연지동)
4210,4772,3180000,3180000-201-2016-00004,영업/정상,영업,844.15,NaN,서울특별시 영등포구 선유로 100 (양평동1가),Chateau 관광호텔,관광호텔,190276.725515,446716.979847,서울특별시,영등포구,선유로 100 (양평동1가)
4235,4798,3180000,3180000-201-2015-00007,영업/정상,영업,"2,457.77",NaN,서울특별시 영등포구 영등포로 264-11 (영등포동3가),Seoul Business Hotel ORA 호텔 오라,일반호텔,192045.048764,446259.450480,서울특별시,영등포구,영등포로 264-11 (영등포동3가)
4577,5188,3180000,3180000-214-2016-00001,폐업,폐업,"7,817.06",NaN,서울특별시 영등포구 양평로28길 11 (양평동6가),토브 호텔 앤 레지던스,숙박업(생활),190261.000000,448747.000000,서울특별시,영등포구,양평로28길 11 (양평동6가)

In [6]:
hmotel.isnull().sum()

Unnamed: 0       0
개방자치단체코드         0
관리번호             0
영업상태명            0
상세영업상태명          0
소재지면적            5
지번주소            11
도로명주소         1961
사업장명             0
업태구분명            0
좌표정보(X)          0
좌표정보(Y)          0
시             1961
구             1961
상세주소          1961
dtype: int64

In [7]:
for i,v in enumerate(hmotel.loc[hmotel['도로명주소'].isnull(),'지번주소'].str.split(' ')) :
    hmotel.loc[hmotel['도로명주소'].isnull(),'시'] = v[0]
    hmotel.loc[hmotel['도로명주소'].isnull(),'구'] = v[1]
    hmotel.loc[hmotel['도로명주소'].isnull(),'상세주소'] = v[2]
    # print(v[2])


hmotel.loc[hmotel['도로명주소'].isnull(),:]

,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
295,301,3000000,3000000-201-1980-00038,폐업,폐업,60.12,서울특별시 종로구 낙원동 169-1번지,NaN,별장,여관업,199014.938232,452114.833434,서울특별시,강동구,천호동
328,340,3000000,3000000-201-1967-00346,폐업,폐업,31.96,서울특별시 종로구 창신동 393-14번지,NaN,진,여인숙업,201299.898177,452091.784690,서울특별시,강동구,천호동
330,344,3000000,3000000-201-1979-00348,폐업,폐업,66.27,서울특별시 종로구 창신동 377-1번지,NaN,대도,여인숙업,201083.179443,452188.471968,서울특별시,강동구,천호동
331,345,3000000,3000000-201-1987-00260,폐업,폐업,573.49,서울특별시 종로구 필운동 108-1번지,NaN,필운,여관업,197202.573435,452769.701562,서울특별시,강동구,천호동
332,346,3000000,3000000-201-1986-00138,폐업,폐업,80.28,서울특별시 종로구 효제동 50-1번지,NaN,동일,여관업,200020.009717,452484.806264,서울특별시,강동구,천호동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,6654,3240000,3240000-201-1989-00076,폐업,폐업,799.92,서울특별시 강동구 길동 414-8번지,NaN,길동모텔,여관업,212116.778952,448280.054559,서울특별시,강동구,천호동
5931,6655,3240000,3240000-201-1989-00075,폐업,폐업,641.36,서울특별시 강동구 길동 416-20번지,NaN,런던파크,여관업,211930.761401,448304.910242,서울특별시,강동구,천호동
5934,6658,3240000,3240000-201-1989-00101,폐업,폐업,821.32,서울특별시 강동구 길동 451-1번지,NaN,인사이드모텔,여관업,211910.675639,448159.064938,서울특별시,강동구,천호동
5935,6659,3240000,3240000-201-1989-00073,폐업,폐업,526.20,서울특별시 강동구 천호동 427-3번지,NaN,선우장,여관업,210935.038615,448663.480516,서울특별시,강동구,천호동
5936,6660,3240000,3240000-201-1988-00072,폐업,폐업,799.09,서울특별시 강동구 천호동 356-0번지,NaN,호산장,여관업,211008.353918,448793.531283,서울특별시,강동구,천호동

In [8]:
hmotel.to_excel('숙박업소_현황.xlsx')

In [9]:
test['숙박업소개수']=test['Unnamed: 0']
숙박업소_구단위_현황 = test.iloc[:-1,[-1]]
숙박업소_구단위_현황

NameError: name 'test' is not defined

In [107]:

숙박업소_구단위_현황.to_excel('숙박업소_구단위_현황.xlsx')

In [108]:
숙박업소_구단위_현황

      숙박업소개수
구
강남구      206
강동구     2092
강북구      214
강서구      214
관악구      232
광진구      134
구로구      157
금천구      110
노원구       42
도봉구       44
동대문구     241
동작구       72
마포구      116
서대문구     123
서초구       95
성동구      113
성북구      144
송파구      139
양천구       32
영등포구     315
용산구      121
은평구      116
종로구      307
중구       433
중랑구      139