In [2]:
import pandas as pd

In [3]:
bad = pd.read_excel('유흥업소_현황.xlsx')
bad.head()

,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,상세주소
0,0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000,서울특별시,강남구,"테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)"
1,1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243,서울특별시,송파구,"송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)"
2,3,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120,서울특별시,영등포구,"영등포로 400, 신성빌딩 지하1층 (신길동)"
3,4,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176,서울특별시,서초구,강남대로 615 (잠원동)
4,5,3190000,3190000-102-1978-01868,폐업,폐업,98.00,서울특별시 동작구 신대방동 607-28,"서울특별시 동작구 시흥대로 646, 지하1층 (신대방동)",수,스텐드바,191742.193945,443042.735398,서울특별시,동작구,"시흥대로 646, 지하1층 (신대방동)"

In [4]:
bad[['시','구','동','상세주소2']] = bad['지번주소'].str.split(" ",n=3,expand=True)

In [5]:
bad.drop('상세주소2',axis=1,inplace=True)

In [7]:
bad.drop('상세주소',axis=1,inplace=True)

In [8]:
bad.head()

,Unnamed: 0,개방자치단체코드,관리번호,영업상태명,상세영업상태명,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),시,구,동
0,0,3220000,3220000-102-2018-00006,영업/정상,영업,311.39,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층","서울특별시 강남구 테헤란로27길 8-4, 늘봄빌딩 (2,3층) (역삼동)",스크린노래,룸살롱,203330.125000,444424.745000,서울특별시,강남구,역삼동
1,1,3230000,3230000-102-2017-00004,영업/정상,영업,85.41,서울특별시 송파구 가락동 98-7,"서울특별시 송파구 송파대로28길 13, 지하1층 101호 (가락동, 거북이빌딩)",골드1,룸살롱,210491.321884,443569.763243,서울특별시,송파구,가락동
2,3,3180000,3180000-102-2001-14135,영업/정상,영업,83.18,서울특별시 영등포구 신길동 449-22 신성빌딩,"서울특별시 영등포구 영등포로 400, 신성빌딩 지하1층 (신길동)",린스,룸살롱,193084.355458,445642.841120,서울특별시,영등포구,신길동
3,4,3210000,3210000-102-1982-06377,영업/정상,영업,126.00,서울특별시 서초구 잠원동 12-21,서울특별시 서초구 강남대로 615 (잠원동),만남,룸살롱,201601.185141,446044.757176,서울특별시,서초구,잠원동
4,5,3190000,3190000-102-1978-01868,폐업,폐업,98.00,서울특별시 동작구 신대방동 607-28,"서울특별시 동작구 시흥대로 646, 지하1층 (신대방동)",수,스텐드바,191742.193945,443042.735398,서울특별시,동작구,신대방동

In [9]:
bad.isnull().sum()

Unnamed: 0       0
개방자치단체코드         0
관리번호             0
영업상태명            0
상세영업상태명          0
소재지면적          298
지번주소             2
도로명주소         1853
사업장명             0
업태구분명            0
좌표정보(X)          0
좌표정보(Y)          0
시                2
구                2
동                2
dtype: int64

In [10]:
bad.loc[bad['지번주소'].isnull(),"도로명주소"]

1388    서울특별시 동대문구 장한로22길 8, 지하1층 (장안동)
1456    서울특별시 동대문구 장한로21길 8, 지하1층 (장안동)
Name: 도로명주소, dtype: object

In [11]:
bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로22길 8, 지하1층 (장안동)','시'] = '서울특별시'
bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로22길 8, 지하1층 (장안동)','구'] = '동대문구 '
bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로22길 8, 지하1층 (장안동)','동'] = '장안동'

bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로21길 8, 지하1층 (장안동)','시'] = '서울특별시'
bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로21길 8, 지하1층 (장안동)','구'] = '동대문구 '
bad.loc[bad['도로명주소']=='서울특별시 동대문구 장한로21길 8, 지하1층 (장안동)','동'] = '장안동'

In [12]:
bad.isnull().sum()

Unnamed: 0       0
개방자치단체코드         0
관리번호             0
영업상태명            0
상세영업상태명          0
소재지면적          298
지번주소             2
도로명주소         1853
사업장명             0
업태구분명            0
좌표정보(X)          0
좌표정보(Y)          0
시                0
구                0
동                0
dtype: int64

In [13]:
bad.to_excel('유흥업소_현황.xlsx')

In [14]:
test=bad.groupby(['구']).count()

In [15]:
test['숙박업소개수']=test['Unnamed: 0']
숙박업소_구단위_현황 = test.iloc[:-1,[-1]]
숙박업소_구단위_현황

       숙박업소개수
구
강남구       643
강동구       278
강북구       148
강서구       226
관악구       405
광진구        25
구로구        73
금천구        96
노원구        44
도봉구        31
동대문구      201
동대문구        2
동작구        95
마포구       131
서대문구       97
서초구       267
성동구        31
성북구        21
송파구       202
양천구        12
영등포구      414
용산구        85
은평구       130
종로구       389
중구        572

In [16]:

숙박업소_구단위_현황.to_excel('숙박업소_구단위_현황.xlsx')

In [17]:
숙박업소_구단위_현황

       숙박업소개수
구
강남구       643
강동구       278
강북구       148
강서구       226
관악구       405
광진구        25
구로구        73
금천구        96
노원구        44
도봉구        31
동대문구      201
동대문구        2
동작구        95
마포구       131
서대문구       97
서초구       267
성동구        31
성북구        21
송파구       202
양천구        12
영등포구      414
용산구        85
은평구       130
종로구       389
중구        572