In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('장애인+현황(장애유형별_동별)_20230915130156.xlsx')

In [6]:
df.head()

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN        NaN        NaN        NaN
1         NaN          구          동         합계
2         NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN
4         NaN        종로구        사직동        267

In [7]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [8]:
df.dropna(axis=0,inplace=True)
df.head()

  Unnamed: 1 Unnamed: 2 Unnamed: 3
1          구          동         합계
4        종로구        사직동        267
5        종로구        삼청동        110
6        종로구        부암동        311
7        종로구        평창동        491

In [9]:
df = df.iloc[1:,:]
df.columns=['구','동','합계']
df.head()

     구    동   합계
4  종로구  사직동  267
5  종로구  삼청동  110
6  종로구  부암동  311
7  종로구  평창동  491
8  종로구  무악동  325

In [10]:
df.columns=['구','동','장애인합계']

In [11]:
df.head()

     구    동 장애인합계
4  종로구  사직동   267
5  종로구  삼청동   110
6  종로구  부암동   311
7  종로구  평창동   491
8  종로구  무악동   325

In [12]:
df.to_excel("장애인_현황.xlsx")