In [1]:
import pandas as pd
data = pd.read_excel('중구_인구(최종).xlsx')
data.head()

   Unnamed: 0     기준일ID     행정동코드         합계         평균
0           0  20231008  11140520  1987.4876  198.74876
1           1  20231008  11140540  2823.9532  282.39532
2           2  20231008  11140550  3106.8959  310.68959
3           3  20231008  11140570  2792.3062  279.23062
4           4  20231008  11140580  2950.7776  295.07776

In [4]:
df_groupy = data.groupby('행정동코드').mean()

In [10]:
df_groupby = df_groupy[['합계','평균']]
df_groupby.reset_index(inplace=True)

In [6]:
node = pd.read_excel('중구_노드_링크_비아파트추가.xlsx')

10

In [12]:
code_list= node['행정동코드'].unique()

In [15]:
df_groupby = df_groupby.loc[df_groupby['행정동코드'].isin(code_list),:]
df_groupby.to_excel('중구_취약계층_집계(최종).xlsx')

In [14]:
len(df_groupby)

10

In [16]:
node['행정동코드']

0       11140605
1       11140615
2       11140540
3       11140670
4       11140680
          ...
5087    11140615
5088    11140615
5089    11140615
5090    11140615
5091    11140615
Name: 행정동코드, Length: 5092, dtype: int64