In [1]:
import pandas as pd
import numpy as np
import pyproj
import folium

In [3]:
df = pd.read_excel("관악구_게임제공업.xlsx",
                 usecols=['좌표정보(X)','좌표정보(Y)'])

In [4]:
df

            좌표정보(X)        좌표정보(Y)
0               NaN            NaN
1     192444.755615  442172.384964
2      193651.40079  442694.194138
3     194941.905784  442377.293915
4     193491.109023  442451.099936
...             ...            ...
1136            NaN   195845.67044
1137            NaN  192393.663311
1138            NaN   195845.67044
1139            NaN   192360.94157
1140            NaN  193746.833838

[1141 rows x 2 columns]

In [5]:
df['좌표정보(X)'] = pd.to_numeric(df['좌표정보(X)'], errors="coerce")
df['좌표정보(Y)'] = pd.to_numeric(df['좌표정보(Y)'], errors="coerce")

df = df.dropna()
df.index=range(len(df))
df.tail()

           좌표정보(X)        좌표정보(Y)
966  193715.720947  442661.600592
967  198284.078546  441368.909287
968  193830.041992  442558.345298
969  193603.719194  442466.211019
970  193898.694558  442510.166080

In [6]:
def project_array(coord, p1_type, p2_type):

    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [7]:
coord = np.array(df)
coord

array([[192444.75561451, 442172.38496401],
       [193651.40079015, 442694.19413771],
       [194941.90578441, 442377.29391494],
       ...,
       [193830.04199207, 442558.34529806],
       [193603.71919359, 442466.21101938],
       [193898.69455777, 442510.16608   ]])

In [8]:
p1_type = "epsg:2097"
p2_type = "epsg:4326"

result = project_array(coord, p1_type, p2_type)
result

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\user\AppData\Local\Temp\ipykernel_11292\2093212355.py:10: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[126.91247826,  37.48171008],
       [126.92611617,  37.48642074],
       [126.94070987,  37.48357352],
       ...,
       [126.92813718,  37.48519796],
       [126.92557904,  37.48436628],
       [126.92891381,  37.48476433]])