# 연관규칙과 협업 필터링 ( 추천모델 )

## 13.9 연관규칙과 협업 필터링 ( 추천모델 )

- 전통적 추천의 유형 
    1) Editorial and hand curated : 전문가가 직접 아이템을 평가하여 추천

    2) Simple aggregates : 대중에게 인기있는 아이템 등 특정 조건의 아이템을 추천

    3) Tailored to individual users : 각 개인의 특성, 선택한 아이템에 맞춰 추천

- Tailored to individual users 

    1) 연관규칙
    2) 협업필터링
    3) 콘텐츠 기반 필터링


### 13.9.1 연관 규칙

        연관규칙 분석은 a라는 제품을 구매한 사람은 b라는 제품도 구매할 확률이 높다는 결과를 이끌어 내는 모델이다. 
    > 이를 위해서는 과거 고객들의 구매 이력을 기반으로 추천 점수를 구해야함.
- 연관규칙의 종류

    1) Apriori : 아이템들의 조합에 대한 경우의 수를 최소화하여 처리 속도 효율을 높인 알고리즘
    2) FP-Growth : 트리 기반 알고리즘으로, 항목 간 비교 계산을 최소화하여 처리속도 효율을 높인 알고리즘
    3) DHP : 항목 집합 개수가 2개인 트랜잭션을 먼저 해시테이블로 만들어 처리속도 효율을 높인 알고리즘 (?)

    품목 간의 연관 관계 계산은 각 품목 조합의 출현 빈도를 이용함. 

    - 연관규칙 분석의 핵심지표
        1) 지지도 
         
         - 아이템 a와 b를 동사에 포함하는 거래가 발생할 확률
         
         - 전체 구매 횟수 중에서 해당 아이템 혹은 조합의 구매가 얼마나 발생하는지 나타냄

        2) 신뢰도 
        
        - 아이템 a가 포함되는 거래에 b가 포함될 확률

        - 아이템(조합) a가 판매됐을 때 b아이템(조합)도 함께 포함되는 조건부 확률
        3) 향상도 
        - 아이템 a와 b가 독립적으로 판매되는 것 대비 함께 판매되는 비율

        - 아이템(조합)a의 판매 중 아이템(조합) b가 포함된 비율이 전체 거래 중 아이템 b가 판매된 비율보다 얼마나 증가했는지 나타내는 지표 
        
        - 두 아이템(조합)간의 연관성을 나타내는 지표이기 때문에 조건절과 결과절의 위치가 바뀌어도 갑싱 동일

    - 추천 순서
        1) 지지도와 신뢰도 기준을 잡아서 특정 cut off 미만의 아이템 관계를 필터링한다. 

        2) 향상도를 내림차순으로 정렬하여, 상위에 있는 아이템 조합을 최종 선정한다. 

    - 평가척도 

        1) IS 측도 : 향상도와 지지도를 곱한 후, 제곱근을 취한 값
            > IS 측도는 향상도와 지지도를 함께 고려한 측도. 향상도와 지지도 중에 비중을 더 두고 싶은 지표가 있으면, 가중치를 주어 영향력을 조정할 수 있다 .(?)
        
        2) 교차 지지도  : 전체 아이템 중 최대 지지도 대비 최소 지지도의 비율
            > 전체 아이템 조합에서 어느 정도 수준의 지지도 이하를 버릴 것인가를 판단 할 수 있는 하나의 보조지표이다. 

    - 지지도와 신뢰도 제한 방식
        연관분석은 모든 조합에 대한 지지도 신뢰도 향상도를 계산하기 때문에 아이템 품목이 늘어나면 계산량이 엄청나게 많아진다. 

            따라서 Apriori 알고리즘은 지지도나 신뢰도가 낮을 조합은 처음부터 연산 대상에서 제외한다. >> self join이라고 함. 최소 지지도보다 낮은 조합은 제외. 

    - 연관규칙의 순서

        1) 최소 지지도 설정
        2) 개별 아이템 중에서 최소 지지도 미만의 모든 아이템을 찾는다.
        3) 제외되지 않은 아이템만을 이용해 최소 지지도 이상의 2가지 조합을 찾는다.
        4) 제외되지 않은 2가지 조합을 결합하여 최소 지지도 이상의 3가지 조합을 찾는다.
        5) 아이템 조합을 늘려가며 반복적으로 최소 지지도 이상의 조합을 찾는다.

### 13.9.2 콘텐츠 기반 필터링과 협업 필터링

     아이템의 속성을 활용하여 추천하는 콘텐츠 기반 필터링 방법 -> 제품의 색상, 사이즈 , 가격대 스타일등의 속성을 이용.

- 장점 

     기존의 선호와 유사한 아이템을 추천할 수 있다는 장점

- 단점

     모든 제품에 대한 메타정보를 입력해야 작동하기ㅏ 떄문에 아이템이 많아질 경우 관리가 힘듦.

     구매자가 선호한 표현한 아이템과 유사한 속성을 가진 아이템만 추천하기 때문에 속성이 유사하지 않더라도 구매할 가능성이 높은 제품을 추천할 수 없다는 단점 

          이러한 콘텐츠 기반 필터링 모델의 단점을 해결하는 것이 협업 필터링.

#### 협업필터링


1. 최근접 이웃 모델
     
     사용자들이 아이템에 매긴 평점 데이터를 기반으로 매기지 않은 아이템의 평점을 예측하는 방식으로 작동된다. 즉 예측한 평점이 높은 아이템을 추천해주는 것이다 .



     (1) 사용자 기반 

      유사한 성향을 가진 사람들을 찾아내어 그 사람들이 선호하는 아이템을 추천해주는 방식. 유사한 성향을 가진 사람들은 피어슨 유사도나 코사인 유사도를 통해 구할 수 있다. (계산 방법 스킵)

      
     (2) 아이템 기반
      
      관점만 사용자에서 아이템으로 바꿔서 예측점수를 도출

      특정 아이템을 선호한다고 했을 때, 유사한 특성을 가진 아이템을 선호할 것이라는 가정으로 추천.

     일반적으로 제품에 대한 평점을 주는 경우가 드물기 떄문에 구매이력을 사용한다.

     영화평점과 같은 명확한 데이터를 명시적 데이터라 하고, 구매, 클릭 이력과 같은 데이터를 암묵적 데이터라 한다. 

     암묵적 데이터 위주의 도메인에서는 협업 필터링 중에서 잠재요인 모델을 사용하는 것이 좋음 
               
          > 암묵적 데이터는 사용자의 호불호를 명확히 알 수 없기 때문임

     잠재요인 모델은 사용자와 아이템 간의 관계 정보를 가지고 있는 데이터를 행렬 분해하여, 데이터 안에 숨겨져있는 잠재 요인을 도출한다. 잠재 요인을 도출하는 것은 주성분 분석과 비슷한 개념임. 대규모 다차원 행렬에 차원축소 기법을 사용해 몇 개의 잠재요인을 추출해낸다. 

     암묵적 데이터 행렬을 분해하여 사용자 잠재요인과 아이템 잠재요인 행렬로 분해. 

     행렬 분해를 위한 기법으로는 특잇값 분해 ( SVD )가 있음. SVD는 데이터가 누락되어 있는 경우 모두 평균값 등으로 대치해줘야하는데, 이는 데이터를 왜곡 시킬 가능성이 크다 .

     그래서 관측된 데이터만으로 행렬분해를 할 수 있는 알고리즘을 사용해야한다. 

     협업 필터링에서 사용하는 행렬 분해 알고리즘은 ALS, SGD가 있음.

     ALS는 병렬 시스템을 지원하는데, 대량의 데이터를 처리하는데 유리하다. 

     - 협업 필터링의 맹점

          (1) 콜드 스타드 문제 : 새로 가입한 사용자나 이제 막 출시된 아이템은 상호작용 데이터가 없기 때문에 추천을 위한 점수를 줄 수 없는데 이는 처음 가입할 때 선호하는 아이템을 몇가지 선택하도록 하여 방지.

          (2) 상호작용이 부족한 문제 : 아이템 수에 비해 구매 , 클릭 등의 상호작용이 부족할 경우 잠재요인을 도출할 데이터가 희박하게 되어 추천 성능이 떨어지게 된다. 그래서 유저와 아이템 간 상호작용 외의 속성을 함께 고려한 하이브리드 필터링 모델을 사용하기도 한다.

          (3) 특이 취향 사용자 : 행동 양식이 일관적이지 않은 사용자에 대한 추천 정확도가 떨어질 수 있는데, 이러한 특이 취향 사용자를 분리해내어 별도의 유사도 알고리즘을 적용하여 추천 정확도를 향상 시키는 하이브리드 필터링이 있음. 


     - 하이브리드 필터링의 종류

          (1) 협업 필터링과 콘텐츠 기반 필터링을 각각 구현하여 혼합하는 방식
               
               각 모델의 스코어 결괏값의 가중합을 구하여 최종 스코어 산출. + 추천 성능에 따라 각 모델의 가중치를 조정해준다. 

               또는, 가중합을 하지 않고, 각 모델 중 더 나은 결괏값을 선택하는 식으로 설계할 수 있음.


          (2) 협업 필터링에 콘텐츠 기반 필터링의 특성을 적용하는 방식

               협업 필터링 모델에 사용자의 특성을 나타내는 변수를 추가함. ->  희소행렬의 문제를 완화할 수 잇다.

          (3) 콘텐츠 기반 필터링에 협업 필터링의 특성을 적용하는 방식

               사용자의 성별, 연령, 취향 등의 프로필 정보들을 협업 필터링 방식처럼 차원 압축하여 몇개의 잠재요인으로 변환하여 사용하는 방식.

               이를 통해 보다 유의미한 속성 정보를 추를 수 있고, 데이터양을 감소시켜 시스템 효율을 높일 수 잇다.

518

### 13.9.3 연관규칙과 협업 필터링 실습

#### 연관규칙 실습

In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('market_basket.csv')

df.head()

## 일자별 구매한 제품 코드 + 상품명

         cust_cd      std_dt prdct_cd          prdct_nm
0  C617077280704  2021-06-19   A10001    tropical fruit
1  C617077280704  2021-06-19   A10002        whole milk
2  C617077280704  2021-06-19   A10003         pip fruit
3  C617077280704  2021-06-19   A10004  other vegetables
4  C617077280704  2021-06-19   A10005             cream

In [3]:
# apriori 모델 적용을 위한 품목 리스트 가공
## 고객번호 + 구매 날짜 중복 제거 한다음 고객, 일자별로 그룹바이 ㄱㄱ
## 고객별로 날짜마다 구매한것들 리스트 형태로 가공 

itemset = df.drop_duplicates(['cust_cd','std_dt','prdct_nm']).groupby(['cust_cd','std_dt'])['prdct_nm'].apply(list)

itemset

cust_cd        std_dt
C617062396815  2021-05-01    [beef, herbs, tropical fruit, whole milk, chic...
C617062745502  2021-04-03    [sugar, packaged fruit/vegetables, sausage, sp...
C617062930654  2021-09-14    [berries, tropical fruit, fruit/vegetable juic...
C617063205957  2021-12-29    [yogurt, beef, cream, herbs, chicken, bottled ...
C617063351260  2021-03-27    [berries, beef, yogurt, specialty bar, bottled...
                                                   ...
C672608631462  2021-11-06             [cream, turkey, dessert, tropical fruit]
C672608824442  2021-11-07                [pastry, detergent, pip fruit, pasta]
C672612583886  2021-12-11    [dog food, sausage, chocolate, pasta, fruit/ve...
C672613540098  2021-12-14    [tropical fruit, processed cheese, hamburger m...
C672615991967  2021-12-26    [butter milk, brown bread, chicken, frozen pot...
Name: prdct_nm, Length: 27219, dtype: object

In [4]:
itemset = pd.DataFrame(itemset).reset_index().drop(['cust_cd','std_dt'],axis='columns')

In [5]:
itemset = itemset.squeeze()
itemset.head()

0    [beef, herbs, tropical fruit, whole milk, chic...
1    [sugar, packaged fruit/vegetables, sausage, sp...
2    [berries, tropical fruit, fruit/vegetable juic...
3    [yogurt, beef, cream, herbs, chicken, bottled ...
4    [berries, beef, yogurt, specialty bar, bottled...
Name: prdct_nm, dtype: object

In [6]:
### 장바구니 리스트를 더미(T/F)형태로 반환

## apriori 모델 적용을 위한 장바구니 - 품목 더미 가공

# apriori 패키지에서는 리스트가 아닌 더미가공이 된 형태의 데이터셋을 입력해야함
##  TransactionEncoder() 함수를 이용해 변환필요 

encoder = TransactionEncoder()
encoder_T = encoder.fit(itemset).transform(itemset)

itemset_matrix = pd.DataFrame(encoder_T,columns=encoder.columns_)
itemset_matrix

,beef,berries,beverages,bottled beer,bottled water,brown bread,butter,butter milk,canned beer,chicken,...,sparkling wine,specialty bar,specialty chocolate,sugar,syrup,tropical fruit,turkey,white wine,whole milk,yogurt
0,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,True,False,False,False,False
2,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
3,True,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,True,True,False,False,True,False,False,False,False,True,...,False,True,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27214,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
27215,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27216,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27217,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
27218,False,False,False,False,False,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [7]:
## 지지도 0.1기준으로 apriori 적용
# 지지도 0.1보다 낮은건 제거 

itemset_apriori = apriori(itemset_matrix,min_support=0.01,use_colnames=True)

itemset_apriori.head()

    support         itemsets
0  0.166612           (beef)
1  0.105074        (berries)
2  0.017010      (beverages)
3  0.025754   (bottled beer)
4  0.095191  (bottled water)

In [8]:
## 향상도 5 이상 상품 조합 추출

association_rules(itemset_apriori,metric='lift',min_threshold=5)

## 신기하노

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(beef, ham)",(bottled water),0.028179,0.095191,0.014585,0.517601,5.437508,0.011903,1.875645,0.839756
1,(bottled water),"(beef, ham)",0.095191,0.028179,0.014585,0.153223,5.437508,0.011903,1.147670,0.901950
2,"(beef, yogurt)",(bottled water),0.023844,0.095191,0.011977,0.502311,5.276885,0.009707,1.818022,0.830291
3,(bottled water),"(beef, yogurt)",0.095191,0.023844,0.011977,0.125820,5.276885,0.009707,1.116654,0.895763
4,"(cream, beef, pastry)",(bottled water),0.030163,0.095191,0.014879,0.493301,5.182229,0.012008,1.785693,0.832132
5,"(cream, bottled water)","(beef, pastry)",0.047797,0.046916,0.014879,0.311299,6.635276,0.012637,1.383887,0.891922
6,"(cream, beef)","(bottled water, pastry)",0.069878,0.037474,0.014879,0.212934,5.682200,0.012261,1.222929,0.885918
7,"(bottled water, pastry)","(cream, beef)",0.037474,0.069878,0.014879,0.397059,5.682200,0.012261,1.542642,0.856093
8,"(beef, pastry)","(cream, bottled water)",0.046916,0.047797,0.014879,0.317150,6.635276,0.012637,1.394453,0.891097
9,(bottled water),"(cream, beef, pastry)",0.095191,0.030163,0.014879,0.156310,5.182229,0.012008,1.149519,0.891937

#### 협업필터링 실습

In [9]:
# 패키지

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [10]:
df_movie = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [13]:
# df_merge.sort_values('rating').tail(200)['title'].unique()

In [14]:
# 전치가 완료된 데이터 셋 만들기 

df_merge = pd.merge(df_ratings,df_movie,on='movieId')

## 고객 - 아이템 평점 해열ㄹ 새
df_merge_pivot = df_merge.pivot_table('rating','userId','title')

## 결측 0으로 변환

df_merge_pivot_null = df_merge_pivot.fillna(0)
df_merge_pivot_null

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,2.5,0.0,0.0,0.0,2.0,0.0,3.0,2.5,...,0.0,1.5,0.5,0.0,2.0,0.0,3.5,0.0,2.0,3.0

In [15]:
## 아이템 - 사용자 평점 행렬로 전치
df_merge_pivot_T = df_merge_pivot_null.T

df_merge_pivot_T.head()

userId,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#  영화 유사도 행렬 생성

item_sim = cosine_similarity(df_merge_pivot_T)

# 데이터 프레임 형태로 변환 

item_sim_df = pd.DataFrame(item_sim,index=df_merge_pivot_T.index,columns=df_merge_pivot_T.index)

item_sim_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.342682,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.158272,0.0,0.098324,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.147486,0.0
'Round Midnight (1986),0.0,0.0,1.0,0.0,0.0,0.0,0.081094,0.000000,0.257012,0.680414,...,0.000000,0.227429,0.141421,0.0,0.100219,0.0,0.221581,0.0,0.098324,1.0
'Til There Was You (1997),0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,1.0,0.0,0.031610,0.231897,0.100923,0.000000,...,0.057358,0.000000,0.000000,0.0,0.212684,0.0,0.104192,0.0,0.161820,0.0

In [17]:
item_sim_df.index

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       '...And Justice for All (1979)', '10 (1979)',
       ...
       '[REC] (2007)', '[REC]² (2009)', '[REC]³ 3 Génesis (2012)',
       'a/k/a Tommy Chong (2005)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=10323)

In [18]:
## 500일의 썸머와 유사도가 높은 상위 5개 영화

item_sim_df['Conquest of the Planet of the Apes (1972)'].sort_values(ascending=False)[1:6]

title
Beneath the Planet of the Apes (1970)                            0.705027
Escape from the Planet of the Apes (1971)                        0.664999
Man Who Fell to Earth, The (1976)                                0.640766
Brother Sun, Sister Moon (Fratello sole, sorella luna) (1972)    0.555556
Mole People, The (1956)                                          0.552607
Name: Conquest of the Planet of the Apes (1972), dtype: float64

In [19]:
# 고객유사도 행렬

user_sim = cosine_similarity(df_merge_pivot_null)

# 데이터 프레임 형태로 

user_sim_df = pd.DataFrame(user_sim,index = df_merge_pivot_null.index,columns=df_merge_pivot_null.index)
user_sim_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.101113,0.210044,0.128766,0.057896,0.077130,0.358090,0.097434,0.239189,0.026663,...,0.291162,0.144741,0.106583,0.091049,0.236805,0.154519,0.245071,0.238660,0.278217,0.153493
2,0.101113,1.000000,0.115559,0.034610,0.032705,0.028305,0.062914,0.471918,0.194232,0.000000,...,0.068325,0.000000,0.477330,0.146887,0.163553,0.061737,0.050948,0.051423,0.035907,0.064822
3,0.210044,0.115559,1.000000,0.058208,0.044426,0.012816,0.084522,0.066620,0.459703,0.068454,...,0.152078,0.301021,0.081626,0.098949,0.310234,0.079452,0.092821,0.080940,0.158943,0.109658
4,0.128766,0.034610,0.058208,1.000000,0.019298,0.005781,0.059089,0.024420,0.050572,0.000000,...,0.055860,0.024329,0.040467,0.108881,0.076241,0.014011,0.042643,0.174275,0.061677,0.157809
5,0.057896,0.032705,0.044426,0.019298,1.000000,0.053378,0.080822,0.041536,0.023168,0.011915,...,0.058450,0.007315,0.024708,0.038163,0.053085,0.048993,0.055431,0.026053,0.086667,0.068281

In [20]:
## 7번 고객과 유사도가 높은 5명 추출
user_sim_df[7].sort_values(ascending=False)[1:6]

userId
403    0.432287
358    0.414600
228    0.396949
328    0.391268
590    0.387817
Name: 7, dtype: float64

In [21]:
## 협업 필터링용 샘플 행렬 생성

## 잠재요인 차원 30으로 설정
k=30

# 샘플용 영화 30개만 필터링

df_merge_sample = df_merge_pivot.iloc[:,0:30]
df_array = df_merge_sample.values
user_cnt,item_cnt = df_array.shape

## 고객수, 영화수 x 자원 수 행렬생성

np.random.seed(45)
user_matrix = np.random.normal(scale=1./k,size= (user_cnt,k))
item_matrix = np.random.normal(scale=1./k,size= (item_cnt,k))

print('고객 행렬 확인',user_matrix.shape)
print('영화 행렬 확인',item_matrix.shape)

고객 행렬 확인 (668, 30)
영화 행렬 확인 (30, 30)

In [22]:
## RMSE 함수 정의
def get_rmse(df_array,user_matrix,item_matrix,not_nan_index):
    error= 0

    pred_rating_matrix = user_matrix @ item_matrix.T

    # 결측없는 실제 행렬과 예측 행렬 생성
    df_array_not_null = df_array[not_nan_index]
    pred_rating_matrix_not_null = pred_rating_matrix[not_nan_index]

    # rmse
    mse = mean_squared_error(df_array_not_null,pred_rating_matrix_not_null)
    rmse = np.sqrt(mse)
    return rmse

In [23]:
def matrix_factorization(df_array,k,steps=1000,learning_rate = 0.01,r_lambda = 0.01):
    # 결측값이 아닌 df_array index 생성
    not_nan_index = np.where(np.isnan(df_array)==False)

    for step in range(steps) : 
        for p,q,r in zip(not_nan_index[0],not_nan_index[1],df_array[not_nan_index]):
            # 실제값과 예측값 차이 계산
            r_pq = user_matrix[p,:] @ item_matrix[q,:].T
            error_pq = r-r_pq

            ## SGD

            user_matrix[p,:] = user_matrix[p,:] + learning_rate*(error_pq * item_matrix[q,:]-r_lambda*user_matrix[p,:])

            item_matrix[q,:] = item_matrix[q,:] + learning_rate*(error_pq * user_matrix[p,:]-r_lambda*item_matrix[q,:])

        rmse = get_rmse(df_array,user_matrix,item_matrix,not_nan_index)

        if ((step + 1) % 100)==0 :
            print('반복 횟수',step +1 ,'RMSE',np.round(rmse,3))

        
    return user_matrix, item_matrix

In [24]:
df_array

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, 2.5, ..., 2.5, 4.5, 3.5]])

In [25]:
k

30

In [26]:
## 행렬 분해, 내적 
user_matrix,item_matrix = matrix_factorization(df_array,k,steps=1000,learning_rate=0.01,r_lambda=0.01)

pred_matrix = user_matrix @ item_matrix.T

반복 횟수 100 RMSE 0.098
반복 횟수 200 RMSE 0.027
반복 횟수 300 RMSE 0.024
반복 횟수 400 RMSE 0.022
반복 횟수 500 RMSE 0.021
반복 횟수 600 RMSE 0.02
반복 횟수 700 RMSE 0.019
반복 횟수 800 RMSE 0.019
반복 횟수 900 RMSE 0.018
반복 횟수 1000 RMSE 0.018

In [27]:
# 데이터 프레임 변환
ratings_pred_matrix = pd.DataFrame(data=pred_matrix,
                                      index=df_merge_sample.index,
                                      columns=df_merge_sample.columns)
ratings_pred_matrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,"10th Kingdom, The (2000)",11-11-11 (11-11-11: The Prophecy) (2011),11:14 (2003),"11th Hour, The (2007)",12 (2007),12 Angry Men (1957),12 Angry Men (1997),12 Rounds (2009),12 Years a Slave (2013),127 Hours (2010)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.153528,-0.121202,-0.124842,-0.106271,-0.112879,-0.101017,-0.222215,-0.070700,-0.147008,-0.122207,...,-0.183535,-0.144112,-0.186056,-0.170291,-0.078269,-0.228702,-0.085900,-0.201264,-0.229591,-0.197071
2,-0.078063,0.002294,-0.060863,-0.118677,-0.089770,-0.021696,-0.020671,-0.058488,-0.138812,-0.047277,...,-0.003586,-0.078952,-0.124815,-0.093119,-0.039527,-0.092644,-0.008249,-0.050020,-0.060481,-0.075093
3,-0.044605,0.057749,-0.010105,0.098457,-0.012861,-0.013262,-0.041212,-0.054471,-0.047198,-0.006070,...,0.019743,-0.003843,-0.034544,-0.036336,-0.004130,-0.023136,-0.052429,-0.009847,-0.046584,-0.019247
4,2.687406,1.329765,1.879851,2.721363,2.536714,2.295276,2.628053,2.220376,3.230876,2.208839,...,2.235548,1.817193,2.763169,2.460440,1.113586,4.981867,0.073088,2.442075,3.920999,3.313315
5,0.020620,-0.047970,-0.011890,-0.069037,0.051017,-0.019776,-0.108702,-0.072081,0.018296,-0.004508,...,-0.096590,-0.080862,-0.062085,0.013447,0.000246,-0.002852,0.049844,-0.036235,-0.006929,-0.071317

In [28]:
def get_unseen_movies(df_merge_sample,userId) :
    # 모든 영화 리스트 생성
    moveis_list = df_merge_sample.columns.tolist()

    # 고객별 평점 테이블 생성
    ratings = df_merge_sample.loc[userId,:]

    # 평점을 매기지않은 영화리스트 생성
    none_rating_list = ratings[ratings.isnull()].index.tolist()

    # 평점없는 영화로 미상영 영화리스트 생성
    unseen_movie_list = [movie for movie in moveis_list if movie in none_rating_list]

    return unseen_movie_list

def recomm_movie_by_userid(pred_df,userId,unseen_movie_list,top_n=10) :
    recomm_movies = pred_df.loc[userId,unseen_movie_list].sort_values(ascending=False)[:top_n]

    return recomm_movies

In [29]:
## 575번 고객의 추천영화리스트 


unseen_movie_list = get_unseen_movies(df_merge_sample,575)

# 미상영 영화 중 여ㅖ측 평점 높은 영화 리스트 생성
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix,575,unseen_movie_list,top_n=10)

## c최종 데이터 셋 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values,index = recomm_movies.index,
                             columns=['pred_score']).reset_index()

recomm_movies.head(10)

                                               title  pred_score
0                            12 Years a Slave (2013)    3.846633
1                                   127 Hours (2010)    3.422611
2  101 Dalmatians (One Hundred and One Dalmatians...    3.027847
3                            10 Items or Less (2006)    2.851895
4                                   12 Rounds (2009)    2.738485
5                                       11:14 (2003)    2.578357
6                                         '71 (2014)    2.473611
7                                   100 Girls (2000)    2.441752
8                              11th Hour, The (2007)    2.413138
9                                 10th & Wolf (2006)    2.381150