# 의사결정나무와 랜덤포레스트( 예측 / 분류 모델 )
## 13.3 의사결정나무와 랜덤포레스트( 예측 / 분류 모델 )

> 뒤집어 놓은 나무와 같은 모양. 가지가 나눠지는 부분이 독립변수의 조건, 마지막 잎사귀들은 종속변수를 나타냄

### 13.3.1 분류나무와 회귀나무
- 의사결정나무는 명목형 종속변수를 분류할 수 있는 분류나무와 연속형 종속변수를 예측할 수 있는 회귀나무로 나뉜다.

#### 분류나무
- 분류나무는 기본적으로 데이터를 얼마나 잘 분류했는지 알 수 있는 척도인 불순도를 낮추고 순도를 높이는 방향으로 분류기준을 찾아낸다. 즉 한 노드내에서는 범주의 동질성이 높고, 노드 간에는 이질성이 최대한 높도록 만들어주는 것이다. 

- 데이터의 불순도를 나타내는 대표적인 기준은 지니계수와 엔트로
- 분류를 통해 지니 계수나 엔트로피가 증가 혹은 감소한 양을 정보 획득량이라고 부른다. 
<20명에 대한 지니계수>
![Alt text](image-2.png)

<45세 연령기준으로 첫번째 분류>
![Alt text](image-3.png)

> 20명에 대한 지니계수에서 집단에 따른 지니계수 빼주면 된다. 
> 하지만 집단이 많을수록 지니계수가 너무 커지게 되므로 가중치를 부여해준다.
![Alt text](image-4.png)


- 엔트로피는 지니 계수와 비슷하지만 이진 로그를 취함으로써 정규화 과정을 거치게 되고, 값의 범위는 0~1을 갖게된다. 

- 엔트로피 공식

![Alt text](image-5.png)

![Alt text](image-6.png)
- 엔트로피의 정보 획득량도 지니계수와 마찬가지로 데이터 비율의 가중치를 주어 구할 수 있다. 

- 분류나무는 각 독립변수의 수치마다 지니 계수나 엔트로피 값을 구해서 최적의 정보 획득량을 얻을 수 있는 기준으로 분류를 해 나가는 것
- 1회 자식노드를 만들기 위해서 변수가 k개 , 관측치가 n개라고 했을 때 k(n-1)번 계산하고, 정보 획득량이 없을 때까지 가지를 뻗어나감. 

- 의자결정 나무의 종류

![Alt text](image-7.png)

#### 회귀나무

- 회구나무는 종속변수가 연속형 변수이기 떄문에 잔차 제곱합 등의 분류 기준을 사용한다.
- 회귀나무는 종속변수의 비선형성에 영향을 받지 않기 떄문에 일반 선형회귀분석에 비해 모델활용이 까다롭지않다.
> 회귀나무에서 각 잎 노드에서 종속변수의 예측은 해당 노드 내의 데이터 포인트의 평균값으로 계산된다. 이로써 각 잎 노드마다 다른수준의 종속변수 값을 예측할 수 있으며 이는 비선형성을 잡아낼수 있는 특징임. 즉 각각의 잎 노드에서 종속변수의 다른 수준을 예측하기 때문에 선형적이라고 말할 수 없음.

![Alt text](image-8.png)

- 회귀나무는 끝 노드에 속한 데이터 값의 평균을 구해 회귀 예측값을 계산한다. --> 비선형적임.

- 회귀나무는 그 밖에 F값이나 분산의 감소량을 분류 기준으로 사용한다.
- F값이 크다는것 = 노드 간의 이질성이 높다는 것을 의미함. 
- 분산의 감소량의 경우, 한 노드에 속한 관측치 값들의 분산이 작아진다는 것은 동질성이 높다는 것을 의미한다. 

### 13.3.2 의사결정나무 모델의 장단점
#### 장점
- 의사결정나무 모델은 비선형 모델이기 때문에 회귀분석과 같이 데이터의 선형성, 정규성, 등분산성 등이 필요하지 않다. 

#### 단점
- 의사결정나무와 일반 회귀 모델의 경우 명목형 변수는 예측 데이터에 있는 정보가 학습데이터에 없으면 예측이 불가능
- 의사결정나무는 학습데이터에 있는 연속형 변수의 값만큼만 예측데이터에 적용되기 떄문에, 예측할 수 있는 종속변수의 최소 최댓값은 학습 데이터의 범위에 한정된다.

> 따라서 학습데이터와 예측데이터의 연속형 변수값 편차가 큰경우에는 예측력이 떨어질 수 있음.

- 학습 데이터에 과적합 될 확률이 높다. 

### 13.3.3 의사결정나무 모델의 과적합 방지를 위한 방법


- 과적합을 방지하기 위해 가지치기, 정보획득량 임곗값 설정, 한 노드에 들어가는 최소 데이터 수 제한하기, 노드의 최대 깊이 제한하기 등이 있다. 

#### 가지치기
- 가지치기 : 모델의 분기 가지들을 적절히 쳐내 과도하게 세밀하게 분기된 부분들을 없애준다. 이는 버리는것이 아니라, 분기를 합치는 개념.

- 가지치기의 기준 : 분기 가지가 많아질수록 학습데이터의 오분류율은 낮아지게 되고, 특정수준 이상이 되면 검증 데이터의 오분류율은 높아지는 원리는 이용함.

![Alt text](image-9.png)

> 학습데이터로 만들어진 나무 모델응ㄹ 검증데이터에 반영하여, 오분류율을 확인한다. 끝단 가지들을 조금씩 쳐내가면서 검증데이터의 오분류율이 최소가 되는 시점까지 가지치기를 실시. --> 학습데이터의 모델정확도는 다소 떨어지더라도, 과적합을 방지하여 모델을 일반화할 수 있다.

#### 정보 획득량 임곗값 설정
- 분기를 했을 때 정보 획득량이 너무 적으면 분기를 멈추도록 설정하는것이다.
- 한 노드에 들어가는 최소 데이터 수를 제한하는 방법과
- 임계값은 노드를 분할하는 데 필요한 정보 획득량의 최소 기준을 정의 정보 획득량이 임곗값보다 낮은 분할은 수행되지 않고 노드의 분할이 중단

#### 노드의 최대 깊이 제한
- 노드의 최대깊이를 제한하는 방법 역시 가지가 너무 세세하게 분리되는것을 방지해 주기 떄문에 일반화된 의사결정나무 모델을 만들 떄 많이 쓰인다.
- 노드의 최대 깊이를 제한하면 모델의 복잡성을 줄이고 과적합을 방지할 수 잇다. -> 특정 깊이 제한을 설정하면 트리가 특정 깊이에 도달할 때, 더이상 분할하지 않고 종료
- 너무 작게 설정하면 과소적합일어남.

420

### 13.3.4 랜덤포레스트

학습 성능의 변동이 크다는 고질적인 문제를 보완하기 위해 나온 모델이 랜덤 포레스트임. 

나무를 여러 개 만들어서 학습을 하는것 인데, 나무 여러 개를 만들어 학습을 하게 되면 다양한 상황을 고려하여 학습하기 때문ㅔ 과적합을 방지할 수 잇따.

![Alt text](image-10.png)

- 부트스트랩 
: 부트스트랩은 하나의 데이터 셋을 중복을 허용하여 무작위로 여러 번 추출하는 것이다.

: 부트스트랩은 신뢰구간에 대한 통계적 추정의 정확도를 높이는 데 사용하는 유용한 방법.

: 랜덤 포레스트에서 무작위로 선택할 독립변수의 수는 일반적으로 전체 독립변수 개수의 제곱근으로 한다. 

![Alt text](image-11.png)

- 배깅 
: 여러 개의 의사결정 나무를 하나의 모델로 결합해 주는 것

: 분류 모델의 경우 투표 방식으로 집계하여 연속형 값의 예측모델인 경우 평균으로 집계한다.

:

### 실습

In [1]:
## 필요한 패키지 임포트

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pydotplus
from sklearn.tree import export_graphviz
from sklearn.metrics import accuracy_score
from IPython.core.display import Image
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('glass.csv')
df.head()
###각 유리의 종류를 의미하는 type이랑 원재료 함량에 대한 정보

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [4]:
df['Type'].unique()

array([1, 2, 3, 5, 6, 7], dtype=int64)

In [5]:
### Type 칼럼 문자형 변환
df['Type_str'] = df['Type'].apply(str)
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type Type_str
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1        1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1        1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1        1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1        1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1        1

In [6]:
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type',
       'Type_str'],
      dtype='object')

In [7]:
### 의사결정나무 모델용 데이터셋 가공

### 독립변수, 종속변수 분리
df_x = df[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe'
       ]]
df_y = df[['Type_str']]

x_train, x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.4,random_state=324)

## 학습셋, 검증셋 확인
print('train data length : ',len(x_train))
print('test data length : ',len(x_test))

train data length :  128
test data length :  86

In [ ]:
# 의사결정 모델 적용
# 모델 생성 및 학습

model = DecisionTreeClassifier(criterion='entropy',)