In [3]:
import seaborn as sb
import pandas as pd
from matplotlib import pyplot as plt

from sklearn.datasets import make_moons

from sklearn.cluster import DBSCAN

from sklearn.preprocessing import StandardScaler

## #02. 데이터 가져오기

In [4]:
origin = pd.read_excel('https://data.hossam.kr/G02/customer.xlsx')

In [5]:
origin.head()

   고객ID      성별  나이  연수입  지출점수
0     1    Male  19   15    39
1     2    Male  21   15    81
2     3  Female  20   16     6
3     4  Female  23   16    77
4     5  Female  31   17    40